{% extends 'shop/base.html' %}
{% load static %}

{% block title %}{% block title2 %}{% endblock %}{% endblock %}

{% block content %}
    <div class="layout">
        <aside class="sidebar">
              <h2 class="sidebar-title">Статусы</h2>
            <form action="{% url 'only_staff:only_staff_new' %}" method="post">
                {% csrf_token %}
                    <div class="search-box">
                      <input type="text" name="order_number" placeholder="Номер заказа..." class="search-input">
                      <button type="submit" class="search-button">🔍</button>
                    </div>
            </form>
            <br>

              <nav class="sidebar-menu">
                <a href="{% url 'only_staff:only_staff_new' %}" class="menu-item">🆕 Новые</a>
                <a href="{% url 'only_staff:only_staff_in_work' %}" class="menu-item">🔧 В работе</a>
                <a href="{% url 'only_staff:only_staff_completed' %}" class="menu-item">✅ Завершенные</a>
                <a href="{% url 'only_staff:only_staff_canceled' %}" class="menu-item">❌ Отмененные</a>
              </nav>
        </aside>

        <main class="content">
            {% block content2 %}{% endblock %}
        </main>
    </div>
{% endblock %}

